node_modules
out
package-lock.json
media/configSetByUI.js.map
media/configSetByUI.js
media/requireTreeByUI.js
media/requireTreeByUI.js.map
media/messageData.js
media/messageData.js.map
media/moduleJsonData.js
media/moduleJsonData.js.map
dist
bin
*.vsix
log.txt
lib
.idea
.vscode/settings.json
.gitmodules
webview